/* About, Register, MyProfile*/
@media only screen  and (min-width:1150px) {
    .containerLeft,
    .cardAbout{
        font-size: 2.2vh!important;
    }

    .containerForm{
        width: 51%;
    }

    .containerMyProfile{
        height: 70%;
        margin:0.5rem;
    }

    .sliderHome,
    .containerLeft{
        margin:auto;
    }

    .sliderHome{
        margin-top: -1rem;
    }

    .btn-success{
        height:130%;
        width: 50%;
        font-size: 2.2vh;
    }

    .containerFormContact{
        height: 100vh;
    }

    .containerFormLogin{
        width: 44vw;
        margin:0;
        padding:0;
    }

    div .containerPayment,
    .formPaymentMethod{
        max-width: 45vw;
        height: 90%;
        width: 50;
    }

    .MQTtextDonations span{
        font-size: 1rem;
    }
}

/* Home , Navbar, Register, Contact, Login, DonationsList*/
@media only screen  and (max-width:1150px) {
    .containerHome{
        display: block; 
        margin: auto ;
        padding: 1rem 1rem 1rem 1rem ;
    }
    .sliderHome,
    .containerLeft{
        width: 100%;   
    }

    .navbar{
        justify-content:left;
    }

    .navbarH1{
        width: auto;
        margin-left: 1rem;
    }

    .margenEnd{
        margin-top:1rem;
        margin-left:15%;
        display:block; 
    }

    .pEmailRegisterUserUpdate{
        margin-left:10%;
        margin-bottom:1rem;
    }

    .containerImgHalfScreen,
    .MQuserMessage,
    .MQuserPhoneDonations,
    .imgHome,
    .footer{
        display:none;
    }

    .containerContactForm{
        width: 90vw!important;
    }

    .containerFormContact{
        width: 100vw!important;
    }

    .buttonsResponsive,
    .containerAddress{
        display: block;
    }
   
    .containerLogin,
    .imageActivity{
        width: 90%; 
    }

    .containerFormLogin{
        width: 70vw; 
        text-align: center;
        margin-top:2rem;
    }

    .h5Login{
        padding-top:5rem;
    }

    .buttonLoginGoogle{
        height: 5rem;
    }
    
    .buttonBlue{
        margin:0.1rem;  
    }

    .heart,
    .heart::before, 
    .heart:after{
        background-color: transparent;
        border:0;
    }

    .heart p{
        background-color: red;
        border-radius: 10%;
        margin-top: 2.5rem;
        margin:auto;
    }

    .formGroup{
        /* display:block; */
        margin:auto;
        width: 100%;
        padding:0.5rem;
        /* width: 70vw; */
    }
     
    .labelRegister{
        width: 40%;
        font-size: 0.85rem;
    }
 
    .formStripe{
        width: 90%;
        /* height: auto; */
    }

    .tArea,
    form .form-control{
        width: 100%;
        font-size: 0.65rem;
    } 

    div .containerPayment,
    .formPaymentMethod{
        max-width: 80vw;
        height: 90%;
        width: 50;
    }
} 

/* Contact, Register, DonationsList, CreateForm*/
@media only screen  and (max-width:1024px) {
    .MQselectButtonsNews,
    .MQinputWithImage,
    .containerUpdateBig,
    .MQselectButtonsDonations{
        display: block;
    }
   
    .MQuserIdDonations,
    .MQuserNameDonations{
        display: none;
    }

    .containerRegister{
        width: 90%;
    }

    .containerForm form,
    .containerForm form input{
        width: 100%;
    }

    .containerForm form .inputRegisterForm{
        width: 67vw;
    }

}

/* UpdateForm */
@media only screen  and (max-width:980px) {
    .containerUpdateBig,
    .divsUpdate{
        display: block;
        margin: auto;
        width: 200%;
        margin:4.5rem 2% 2% 2%;
    }

    .MQorganization{
        width: 85%;
        margin: auto;
        margin-top: 7rem;
    }

    .formUserData{
        display: block;
    }

    .heart{
        margin-top:10rem;
    }

}

/* NewsList, UpdateForm, CreateForm */
@media only screen  and (max-width:898px) { 
    .MQupdatedTestim,
    .MQimageCharTestim,
    .MQimageCharNews,
    .MQimageCharUser{
        display: none;
    }
    
    .MQdate{
        display: block;
        margin: auto;
    }
} 

/* TestimonialCreate */
@media only screen  and (max-width:829px) {
    .buttonsResponsive{
        display:block;
        margin: auto;
    }
  
    .formUserData,
    .MQbuttons{
        display: block;
    }

    .MQuserEmailDonations,
    .MQcreatedUser{
        display: none;
    }

    .divGroupContactForm,
    .tArea{
        display: block;
        text-align: center;
    }

    .containerFormLogin{
        width: 86vw;
        margin-top:4.5rem;
        margin-left:-6rem;
    }
}


/* Lists, ContactForm */
@media only screen and (max-width: 740px) {
    .MQimageChar,
    .MQuserPhone,
    .MQmessage,
    .MQcreatedRoles{
        display:none;
    }
   
    .tableTotal{
        padding:1rem;
    }

    .tableUser,
    .tableNews,
    .tableDonations{
        font-size: 60%;
    }

    .divGroupContactForm,
    .tArea{
        display: block;
        text-align: center;
    }
}

/* Lists , Register*/
@media only screen and (max-width: 660px) { 
    .MQtestim{
        display:none;
    }

    .errorsRegister{
        margin: 1rem!important;
    }
}

/* Lists, LoginForm, PaymentMethods */
@media only screen and (max-width: 580px) { 
    .MQupdated,
    .imageMyProfile,
    .iconInsideInputIcon,
    .MQcategNews,
    .MQcreatedNews,
    .MQcreatedMess,
    .MQupdatedNews,
    .MQuserEmail,
    .MQcreatedDonations,
    .MQdescripRoles,
    .MQemailRoles{
        display:none;
    }

    .selectBtnDesplegable{
        font-size: 80%;
        width: 88%;
    }

    .tableTotal{
        padding:1rem;
    }

    .tableTestim,
    .tableMessages,
    .tableDonations{
        font-size:50%;
    }
    
    .buttonLoginGoogle{
        width: 80vw!important;
        margin-left:-8rem;
    }
    
    .MQpaymentInputs{
        font-size: 80%;
    }
    
    .leyendaMP{
        display: block;
        text-align: center;
    }

    .containerFormLogin{
        width: 86vw;
        margin-top:8rem;
        margin-left:-6rem;
    }

    .containerTable{
        position:sticky;
    }
   
    .heart{
        margin-top:12rem;
    }
}

/* Lists, UpdateForm , Cards, PaymentMethods*/
@media only screen and (max-width: 470px) {
    .MQcontent,
    .MQuser,
    .MQuserTestim,
    .MQupdatedUser,
    .MQnews,
    .MQcreated{
        display:none;
    }
    
    .MQselectButtons{
        display: block;  
    }

    .info{
        margin:1rem 0;
    }

    .MQdateProfile{
        font-size: 60%!important;
    }

    .tableTotal{
        padding:1rem;
    }

    .card{
        font-size: 0.8rem;
        margin:2rem;
        width: 90%;  
    }

    .card .card_info{
        padding:0.5rem;
        width: 123%;
        margin: auto;
        text-align: center;
    }

    .MQseeMore{
        margin:auto;
    }

    .card .card_publication {      
       position:absolute;
    }
    
    .MQgroupRegister{
        display: block;
        width: 20rem;
    }

    .divsUpdate{
        width: 180%;
    }

    .formStripeUser{
        display: block;
        height: auto;
    }

    .containerUpdateBig{
        width: 90%;
    }

    .formPaymentType h5{
        font-size: 84%;
        padding:0.1rem;
        background-color: #422472;
        color:#fff;
        text-align: center;
    }

    /* .MQfontSize, */
    .formUserData span,
    .formUserData label{
        font-size: 80%;
    }

    .table-head tr th{
        top:12rem;
    }

    /* .formUserData .MQTtextDonations label,
    .formUserData .MQTtextDonations span,
    .formUserData .MQTtextDonations div .MQfontSize,
     ,
    div span .MQfontSize,
    .MQinputFontSize div .MQradioDonation div div input, 
    .formUserData  .MQfontSize */
   
    .MQTtextDonations{
        font-size: 1rem;
        text-align: left;
    }

    .MQinputFontSize .MQradioDonation div{
        display: block;
    }

    .MQinputFontSize .MQradioDonation div div input{
        margin: 0;
        margin-left: 0.2;
        margin-right: 0.3rem;
    }

    .logoMP{
        width: 40%;
        height: 1.5rem;
    }

    .cards{
        column-width: 30rem;
    }

    .MQnews h2{
        margin-top: 3rem;
    }
}

/* Lists, Navbarf, Register, LoginForm , Cards*/
@media only screen and (max-width: 391px) {
    .MQuserEmailDonations,
    .imgStripe,
    .MQcreatedTestim,
    .MQupdatedRoles,
    .MQstatusDonations,
    .MQcreatedMess,
    .MQcontentNews,
    .MQuserNameMessages{
        display:none;
    }
    
    .divGroupContactForm{
        width: 115%;
    }
    
    .MQiconDelRoles,
    .MQiconDelTestim,
    .MQiconDelMessages{
        width: 50%;
    }

    .navbar h1{
        font-size:100%;
    }

    .MQtextErrorLogin{
        font-size: 0.7rem!important;
        width: 10rem !important;
        margin-left: 0;
    }

    .labelContactForm,
    .tableRoles{
        font-size:55%;
    }
    
    .formGroup{
        display: block;
    }

    .h5Form,
    .MQnoTenesCuenta{
        width: 10rem;
        margin-left: -4rem;
    }

    .card{
        text-align: center;
        width: 75%;  
    }

    .card .card_info{
        margin-left: -0.2rem;
        padding:0.5rem;
        width: 75%;
    }

    .containerLoginGoogle,
    .containerFormLogin{
        display: flex;
        justify-content: center;
    }

    .MQnoTenesCuenta{
        margin-left:0rem;
    }

    .buttonLoginGoogle{
       margin-left:-5.5rem;
    }
 
    .h5Form {
        margin-left:4rem;
    }

    .containerFormLogin{
        padding-top: 9rem;
        font-size: 1.1rem!important;
        margin:auto;
        margin-left:-6.5rem;
    }

    .MQcardFontSize{
        font-size: 1rem!important;
        display: flex;
        justify-content: center;
    }

    .formUserData .formStripeUser .MQp{
        margin-left:-3rem!important; 
    }

    .formUserData .formStripeUser p{
        font-size: 65%;
        margin-left:0!important;
        padding:0.5rem;
    }
  
    /* .errorsRegister{
        margin: -20rem!important;
    } */

    .formStripeUser{
        margin: 0;
    }

    .formStripe{
        max-height: 100vh;
    }
    
    .heart{
        margin-top:12rem;
    }
}